<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
    <% if(kindofday === "Sunday" || kindofday === "Saturday") { %>
        <h1 style="color: purple;">Today is <%= kindofday %>ToDo List</h1>
    <% } else { %>
        <h1 style="color: aqua;">Today is <% = kindofday %>Todo List</h1>
    <% } %>
        
</body>
</html>